/* html {
  background-color: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
} */

.icons {
  font-size: 2.5rem;
  /* color: var(--brand-color); */
  line-height: 1.3;
  /* vertical-align: baseline; */
}

button {
  font-size: .8rem;
  padding: .5rem;
  border-radius: .3rem;
  border: transparent;
}

task {
  padding: 1rem;
}

task, button {
  border-radius: .3rem;
  border: transparent;
  background-color: transparent;
  color: var(--surface2-light);
}

button:hover,
.mode {
  background-color: var(--surface1-light);
  color: var(--text1-light);
  transition: all .75s;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
.clock-readout {
  color: var(--text1-light);
}

.TimerContainer, .ControlMenu {
  container-type: inline-size;
}

.clock-readout {
  font-size: 5rem;
  color: var(--surface3-light);
}

@container (min-width: 375px){
  .clock-readout {
    font-size: 8rem;
  }
}
@container (min-width: 450px){
  button{
    font-size: 1.5rem;
    padding: 1rem;
  }
}
@container (min-width: 450px){
  button{
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
  padding: 1rem;
}

.title-wrapper {
  display: inline-block;
}

.menu-title {
  font-size: 1.2rem;
  color: var(--surface1-light);
  vertical-align: middle;
}

.menu-title,
a {
  text-decoration: none;
}

.task-list-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 80%;
  background-color: var(--surface3-light);
  margin: 2rem auto;
  padding: 1rem;
  border-radius: .3rem;
}

.menu-icon {
  height: 1rem;
}

.start-button {
  cursor: pointer;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  /* color: rgb(186, 73, 73); */
  font-weight: bold;
  width: 200px;
  background-color: var(--surface1-light);
  transition: color 0.5s ease-in-out 0s;
}

.control-area {
  display: block;
}

.hidden {
  display: none;
}

.modal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--surface2-light);
  border-radius: 1rem;
  min-width: 20rem;
  max-width: 25rem;
  margin: 1rem auto;
  box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
}

.modal button {
  background-color: hsl(0, 0%, 24%);
  color: var(--surface3-light);
  margin-left: .5rem;
  margin-left: .5rem;
  padding: .75rem;
  margin-top: 1rem;
}

.modal button:hover {
  background-color: hsl(0, 20%, 5%);
  color: var(--surface3-light);
}

.modal .icons {
  font-size: 1rem;
  color: var(--surface3-light);
}

.modal input {
  box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
  border-radius: .3rem;
  border: 0;
  padding: .5rem;
}

.modal input:active {
  border: 0;
}

.rounds-completed {

  margin: 2rem;
}

.rounds-completed span {
  color: var(--surface1-light);
  font-size: 1.2rem;
}

.avatar {
  border-radius: 35px;
  margin-left: 10px;
}


.task-input-field {
  width: 100%;
}

.num-input-field {
  width: 60px;
  height: 50px;
  margin-right: 20px;
}

.left {
  text-align: left;
}

.est-div {
  display: flex;
  justify-content: start;
}

.button-div {
  display: flex;
  justify-content: end;
}

.TimerContainer{
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: .3rem;
}

.pomodoro {
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.task-completed {
  color: rgb(26, 26, 26);
}

.in-progress {
  color: rgb(212, 212, 212);
  transition: all .5s
}


  .pomodoro {
    align-items: center;
    justify-content: center;
    max-width: 540px;
    text-align: center;
  }


.pomodoro-mode { 
  background-color: var(--brand-color); 
  transition: all 1s;
}
.shortBreak-mode { background-color: 
  hsl(180, var(--brand-saturation), calc(var(--brand-lightness)), 1.8);
  transition: all 1s;
}
.longBreak-mode { background-color: hsl(
  220, 
  var(--brand-saturation),
  var(--brand-lightness)
  );
  transition: all 1s;
}