html {
  background-color: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
}

button, task {
  border-radius: .3rem;
  border: transparent;
  padding: 1rem;
  background-color: transparent;
  color: var(--text1-dark);
}

button:hover {
  background-color: var(--surface1-light);
  color: var(--text1-light);
}

h1, h2, h3, h4, h5, h6, span, p, .clock-readout {
color: var(--text1-light);
}

.clock-readout {
  font-size: 5rem;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.task-list-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 80%;
  background-color: var(--surface3-light);
  margin: 1rem;
  padding: 1rem;
  border-radius: .3rem;
}

.menu-icon {
  height: 1rem;
}
