html {
  background-color: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
}

button {
  border-radius: .3rem;
  border: transparent;
  padding: 1rem;
  background-color: transparent;
  color: var(--text1-dark);
}

button:hover {
  background-color: var(--surface1-light);
  color: var(--text1-light);
}

h1, h2, h3, h4, h5, h6, span, p, .clock-readout {
color: var(--text1-light);
}

.clock-readout {
  font-size: 5rem;
}