:root {
  /*
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  */

  font-family: 'Roboto Mono', monospace;
  
/* Color Theme--notes from article: https://web.dev/building-a-color-scheme/ */
  --brand-hue: 0;
  --brand-saturation: 45%;
  --brand-lightness: 51%;
  --brand-color: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));

/* Light Theme */
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);

  /* Surface colors are the backgrounds, borders and other decorative surfaces that text sits upon or within. In a light theme, these are the light colors, as opposed to the text colors which were dark. To create light colors with hsl, we'll use higher percentage values in the third lightness value. We'll also lower the saturation, so the light greys don't look too tinted. */
  
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);

/* Shadows within a color scheme are above and beyond, but add a lifelike nature to the effect and help it stand out from unrealistic black based shadows. To do this, the color of the shadow will use the hue custom property, be slightly saturated with the hue but still very dark. Essentially building a very dark slightly blue shadow. 

--surface-shadow-light is not wrapped in an hsl function. This is because the --shadow-strength value will be combined to create some opacity, and CSS needs the pieces in order to perform calculations. Skip to the rad shadow section to learn more.*/


--brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5)); /* The light theme used the 3 brand hsl color channels values without alteration, the dark theme does not. The saturation is cut in half and the lightness reduced a relative 50%. */
--text1-dark: hsl(var(--brand-hue) 15% 85%);
--text2-dark: hsl(var(--brand-hue) 5% 65%);
/* In a dark theme, the text colors should be light. The above colors have high values for lightness, putting them closer to white. */
--surface1-dark: hsl(var(--brand-hue) 10% 10%);
--surface2-dark: hsl(var(--brand-hue) 10% 15%);
--surface3-dark: hsl(var(--brand-hue) 5%  20%);
--surface4-dark: hsl(var(--brand-hue) 5% 25%);
/* In a dark theme, the surface colors should be dark. The above colors have low lightness and saturation, with the 1st surface being the darkest at 10%. */
--surface-shadow-dark: var(--brand-hue) 50% 3%;
--shadow-strength-dark: .8;
/* In a dark theme, shadows can be very hard to see. Makes sense since it's hard to darken something that's already fairly dark. This is where --shadow-strength-dark comes in super handy as it allows us to darken the shadows by changing one variable. */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, textarea, p {
  font-family:inherit;
  font-size: inherit;
}

body { margin: 0; }